#---NETWORKING ---
networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: "docker-home"

# Define a reusable logging anchor to keep the file clean
x-logging: &default-logging
  logging:
    driver: "json-file"
    options:
      max-size: "10k" # Roughly 100-200 lines
      max-file: "2" # Keeps 1 current and 1 backup (approx 500 lines total)

services:
  # --- MONITORING ---
  glances:
    image: nicolargo/glances:latest-full
    container_name: glances
    restart: unless-stopped
    pid: host
    network_mode: host
    privileged: true
    <<: *default-logging
    environment:
      GLANCES_OPT: "-w -p 8090"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/os-release:/etc/os-release:ro
      - ./glances/glances.conf:/etc/glances/glances.conf:ro
  # --- NETWORKING & APPS ---
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    <<: *default-logging
    dns:
      - 127.0.0.1
      - 1.1.1.1
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "81:80/tcp"
    environment:
      TZ: "UTC"
      FTLCONF_dns_listeningMode: "ALL"
      FTLCONF_webserver_api_password: ${PIHOLE_PASS}
    volumes:
      - "./etc-pihole:/etc/pihole"
      - "./etc-dnsmasq.d:/etc/dnsmasq.d"
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: local-proxy
    <<: *default-logging
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  bentopdf:
    image: ghcr.io/alam00000/bentopdf:latest
    container_name: bentopdf
    <<: *default-logging
    restart: unless-stopped
    ports:
      - "8080:8080" # Change 8082 to whatever port you want
