services:
  # --- MONITORING ---
  beszel:
    image: "henrygd/beszel:latest"
    container_name: beszel
    restart: unless-stopped
    ports:
      - "8090:8090" # Dashboard: http://192.168.0.135:8090
    volumes:
      - ./beszel_data:/data

  beszel-agent:
    image: "henrygd/beszel-agent:latest"
    container_name: beszel-agent
    restart: unless-stopped
    privileged: true # Required to see hardware stats
    network_mode: host # Required to see host network traffic
    environment:
      PORT: 4567
      KEY: "${BESZEL_KEY}" # Get this from the Beszel Web UI after first login
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # --- NETWORKING & APPS ---
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    dns:
      - 8.8.8.8
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "81:80/tcp"
    environment:
      TZ: "UTC"
      FTLCONF_webserver_api_password: ${PIHOLE_PASS}
    volumes:
      - "./etc-pihole:/etc/pihole"
      - "./etc-dnsmasq.d:/etc/dnsmasq.d"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: local-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - stirling-pdf

  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest
    container_name: stirling-pdf
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - MODE=${STIRLING_MODE}
    restart: unless-stopped
